footer {
  background-color: black;
  height: 150px;
  color: white;
  padding-top: 75px;
  padding: 75px 45px 0 25px ;
  display: flex;
  justify-content: space-between;
}

.footer .social-networks {
  margin-top: -35px;
  text-align: center;
}

.footer .social-networks p {
  font-size: 20px;
}

.footer .social-networks div img{
  cursor: pointer;
  margin-left: 30px;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column-reverse;
  }
  .footer .social-networks {
   margin-bottom: 10px;
  }
}
